<!doctype html>
<html>
<head>
  <title>Screen</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='screens/main.css') }}" />
</head>
<body>
<div id="zones" style="position:absolute;top:0;bottom:0;right:0;left:0;background-size:cover;"></div>
<!--<div id="graphics" class="zone" style="left: 10%; right: 50%; top: 10%; bottom: 10%;">
</div>-->
{% block end_of_page_javascript %}
  {{ linkmacros.static_js('lib/jquery.js') }}
  {{ linkmacros.static_js('lib/jquery.transit.min.js') }}
  {{ linkmacros.static_js('screens/globals.js') }}
  {{ linkmacros.static_js('screens/functions.js') }}
  {{ linkmacros.static_js('screens/basic.js') }}
  {{ linkmacros.static_js('screens/main.js') }}
  <script type="text/javascript" src="{{ url_for('post_types_js') }}"></script>

  <script type="text/javascript">

  window.SCREEN={{screen.to_dict() | tojson }};
  window.SCREEN.md5 = "{{screen.md5()}}";

  window.DEFAULTSCREEN={
        background: "black",
        css:'',
        defaults: {'no_posts_wait': 10000,
                   'update_zones_timer': 96000,
                   'post_time': 4000,
                   'classes':'text_dropshadow',
                   'css':{}},
        zones: {},
        md5: '12345'
                };

  {% if screen.background %}
      BG="url({{url_for('static', filename='user_files/' + screen.background)}})"
  {% else %}
      BG="black"
  {% endif %}

  POSTS_URL = "{{ url_for('screens_posts_from_feeds', json_feeds_list='-1') }}";

  var screen_data = $.extend({}, DEFAULTSCREEN, SCREEN);
init_screen(screen_data, '#zones')
setTimeout(start_zones_scrolling, 2000);
  </script>
{% endblock %}
</body>
</html>
