{%- import "link-macros.html" as linkmacros -%}
<!doctype html>
<html>
<head>
  <title>Screen</title>
<!--  <link rel="stylesheet" href="{{ url_for('static', filename='screens/main.css') }}" />-->
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap-wysihtml5/default-styles.css') }}" />
</head>
<body style="background:#222">
<div id="zones" style="position:absolute;top:0;bottom:0;right:0;left:0;background-size:cover;"></div>
<!--<div id="graphics" class="zone" style="left: 10%; right: 50%; top: 10%; bottom: 10%;">
</div>-->
{% block end_of_page_javascript %}
  {{ linkmacros.static_js('lib/jquery.js') }}
  {{ linkmacros.static_js('lib/jquery.transit.min.js') }}
  {{ linkmacros.static_js('screens/globals.js') }}
  {{ linkmacros.static_js('screens/functions.js') }}
  {{ linkmacros.static_js('screens/overview.js') }}
  {{ linkmacros.static_js('screens/main.js') }}
  <script type="text/javascript" src="{{ url_for('post_types_js') }}"></script>
  <script type="text/javascript">

    var LOCALOPTS={{ request.args | tojson|safe }},
        SCREEN_DATA={{screen.to_dict() | tojson|safe }},
        POSTS_URL = "{{ url_for('screens_posts_from_feeds', json_feeds_list='-1') }}";

    SCREEN_DATA.md5 = "{{screen.md5()}}";

    window.SCREEN = new StreetScreen($('#zones'), SCREEN_DATA);

    setTimeout(function(){window.SCREEN.start_zones();}, 2000);

    // automatic housekeeping:

    (function() {
         function housekeeping() {
             $.post("{{ url_for('posts_housekeeping') }}");
         }

         function update_external_sources() {
             $.post(" {{ url_for('external_data_sources_update_all') }}");
         }

         housekeeping();
         update_external_sources();

         setInterval(housekeeping, 3600000); // every hour
         setInterval(update_external_sources, 60000); // every minute
     })();

  </script>
{% endblock %}
</body>
</html>
