[Unit]
Description=Streetsign Digital Signage Server

[Service]
Type=simple
WorkingDirectory=/srv/streetsign
ExecStart=/srv/streetsign/run.py waitress
User=streetsign
Group=streetsign

[Install]
WantedBy=multi-user.target
