{%- import "link-macros.html" as linkmacros -%}
{%- import "common_widgets.html"  as widgets -%}
<!doctype html>
<html>
<head>
  <title>Screen</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='simplescreens/main.css') }}" />
</head>
<body>
<div id="zones" style="position:absolute;top:0;bottom:0;right:0;left:0;"></div>
<!--<div id="graphics" class="zone" style="left: 10%; right: 50%; top: 10%; bottom: 10%;">
</div>-->
{% block end_of_page_javascript %}
  {{ linkmacros.static_js('jquery.js') }}
  {{ linkmacros.static_js('lib/chosen/chosen.jquery.min.js') }}
  {{ linkmacros.static_js('simplescreens/main.js') }}
  <script type="text/javascript">
  POSTS_URL = "{{ url_for('simplescreens_posts_from_feeds',json_feeds_list='-1') }}";
  // TODO: load this from a screens json thingy.
  var screen_data = {
        background:'url("{{ url_for('static',filename='user_files/crowd_jib_and_blocks.png')}}")',
        css:'',
        defaults: {'no_posts_wait': 10000,
                   'update_zones_timer': 96000,
                   'post_time': 4000,
                   'classes':'text_dropshadow',
                   'css':{}},

        zones: [{"name": "day",
                  "top": "0",
                  "left": "0",
                  "bottom": "90%",
                  "right": "0",
                  "css": {"background": "rgba(0,0,0,0.7)",
                          "text-align": "left",
                          "padding-left": "1em"
                        },
                  "feeds":[3]},
                {"name": "main",
                   "top": "15%",
                  "left": "2%",
                 "right": "50%",
                "bottom": "8%",
                 "feeds": [1,2,3] },
                {"name": "sidebar",
                   "top": "16%",
                  "left": "51%",
                 "right": "5%",
                "bottom": "8%",
                   "css": { "color": "black" },
                 "feeds": [2] }

                ]
                };

init_screen(screen_data, '#zones')
setTimeout(start_zones_scrolling, 2000);
  </script>
{% endblock %}
</body>
</html>
