{%- import "link-macros.html" as linkmacros -%}
{%- import "common_widgets.html"  as widgets -%}
<!doctype html>
<html>
<head>
  <title>Screen</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='simplescreens/main.css') }}" />
</head>
<body>
<div id="zones" style="position:absolute;top:0;bottom:0;right:0;left:0;"></div>
<!--<div id="graphics" class="zone" style="left: 10%; right: 50%; top: 10%; bottom: 10%;">
</div>-->
{% block end_of_page_javascript %}
  {{ linkmacros.static_js('jquery.js') }}
  {{ linkmacros.static_js('lib/chosen/chosen.jquery.min.js') }}
  {{ linkmacros.static_js('simplescreens/main.js') }}
  <script type="text/javascript">
  // TODO: load this from a screens json thingy.
  var zones = [{"name": "main",
                   "top": "2%",
                  "left": "2%",
                 "right": "50%",
                "bottom": "8%",
                 "feeds": [1,2,3] },
                {"name": "sidebar",
                   "top": "3%",
                  "left": "51%",
                 "right": "5%",
                "bottom": "8%",
                 "feeds": [1] },

                ];

  for (var z in zones){
    zone('#zones', zones[z]);
    }
  update_zones_posts();
  </script>
{% endblock %}
</body>
</html>
