{% extends "post_editor.html" %}
{% block title %}Post an Image{% endblock %}
{% block form_body %}
<label>Image (Upload):<br/>
  <input type="hidden" name="post_type" value="{{ post_type }}">
<input type="file" name="image_file" id="image_file" accept="image/*" />
</label>
<div id="img_preview"></div>
<!-- TODO
<script type="text/javascript">
window.URL = window.URL || window.webkitURL;

    $('#image_file').change( function () {
        alert ($(this).val());
        $('#img_preview').attr('src',window.URL.createObjectURL($(this).val()));
    });
</script> -->
{% endblock %}
