/**********************************************************************/
/* Generic bits and pieces */

body {
    font-family: Sans-Serif;
    /*background-color: #9a9;*/
    background: url('resources/tweed/tweed.png');
    margin: 0;
    padding: 0;
}
h1, h2 {
    text-align: center;
    font-weight: thin;
    color: #333;
}
a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: purple;
    text-decoration: underline;
}
a:active {
    color: red;
}

table {
    border: 1px solid #aaa;
    border-radius: 5px;
    margin: auto;
}
tr {
    background: #eee;
    color: black;
}
tbody > tr:nth-child(odd) {
    background: #ddd;
}

td {
    padding: 2px;
}

thead > tr {
    background: #333;
    color: #eee;
    font-width: 400;
}
/*************************************************************************/
/* Specific Areas (main stuff, common to all pages.) */
header {
    /*width: 100%;*/
    margin: none;
    background: rgba(10,20,50,0.5);
    padding: 1em;
    color: #eff;
    text-align: center;
    border: 1px solid #123;
}
header h1 {
    color: white;
    display: block;
    float: left;
    padding: 0px;
    margin: 0px;
}
header a {
    color: white;
}
header > nav {
    display: block;
    float: left;
    }
header > nav > ul {
    display: block;
}
header > nav > ul > li {
    display: inline;
    background: rgba(255,255,255,0.1);
    padding: 0.3em;
    margin: 0px;
}
header > nav > ul > li:hover {
    background: rgba(255,255,255,0.3);
}

header > nav > ul > li:first-of-type {
    border-radius: 10px 0 0 10px;
}
header > nav > ul > li:last-of-type {
    border-radius: 0 10px 10px 0;
}
#user_login_button {
    display: block;
    float: right;
}

#flashed_notices {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
}
#flashed_notices > li {
    background: rgba(2,2,2,0.6);
    color: white;
    font-weight: bold;
    border-radius: 15px;
    padding: 0.2em 1em 0.2em 1em;
    list-style-type: none;
}
#flashed_notices > li:hover {
    color: #aaa;
}
#flashed_notices > li .err {
    background: rgba(8,2,2,0.7);
}
option.admin {
    font-weight: bold;
    color: #224;
}
option:checked {
    background: #222;
}
article {
    background: #eee;
    margin: auto;
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;

}

#login_box {
    display: block;
    position: absolute;
    top: 2em;
    right: 0;
    border: 2px solid black;
    background: rgba(0,0,0,0.5);
    color: white;
    border-radius: 15px;
    text-align: center;
    padding: 1em;
    display: none;
}
#login_box > h2 {
    display: none;
}
input {
    margin: 0.2em;
}
div.footerbox {
    width: 25%;
    border: 1px solid #123;
    padding: 1em;
}

div.free_blocks {
    display: block;
    padding: 1em;
    float: left;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 0.3em;
}
.cf {
    clear:both;
    }
.autowidth {
    border: 2px solid #ddd;
    border-radius: 15px;
    display: block;
    margin: auto;
    width: auto;
    margin-top: 10px;
}
.error {
    font-width: bold;
    color: white;
    background-color: red;
    text-shadow: red 10;
}

.warning {
    font-width: bold;
    color: orange;
    background-color: black;
    text-shadow: black 10;
    padding: 0.2em;
}

.itemlist {
    display: block;
    max-width: 17em;;
}
ul.itemlist > li {
    background: #ddd;
    border-radius: 5px;
    margin: 0.2em;
    border: 1px solid grey;
    padding: 0.5em;
}

div.sizes_box {
    display: block;
    text-align: center;
    max-width: 10em;
    padding: 0.3em;
}
.sizes_box input {
    max-width: 3em;
}

.fake_screen {
    display: block;
    position: relative;
    background-color: black;
    width: 400px;
    height: 275px;
}
.fake_zone {
    display: block;
    position: absolute;
    border: 1px dashed white;
    color: white;
    text-align: center;
}
.rightside {
    /* TODO: only on big enough media screen sizes */
    max-width: 48%;
    clear: right;
    float: right;
}
.leftside {
    max-width: 48%;
    clear: left;
    float: left;
}
