body {
    margin: 0;
    padding: 1em;
    background: black;
    color: white;
    text-align: center;
    font-family: Sans-Serif;
}
div.zone {
    position: absolute;
    /*background-color: rgba(230,220,210,0.6);*/
    /*border: 1px dashed rgba(200,200,200,0.3);*/
    font-size: 40pt;
    text-align: center;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    background-size: cover;
    transition: opacity 1s;
    -webkit-transition: opacity: 1s;
    // this mad extra forces webkit to give each zone it's own layer,
    // which makes screen paints faster.  ***bizrre***
    //-webkit-transform: rotateX(20deg);
    -webkit-transform: translateZ(0);
}

.zone_ .post, .zone_fade .post {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    margin: auto;
    display: table;
    opacity: 0;
    //border:1px solid red;
    transition: opacity 1s;
    -webkit-transition: opacity: 1s;
}

.post.faded_in {
    opacity: 1.0;
    transition: opacity 1s;
    -webkit-transition: opacity: 1s;
}

.zone_scroll .post {
    position: absolute;
    overflow: hidden;
    width: auto;
    height: 100%;
    /*display: inline;*/
    white-space: nowrap;
    opacity: 0;
}

.zone_ div.post_inner, .zone_fade div.post_inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    bottom: 0px;
}

.text_dropshadow {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.zone_fade h1 { font-size: 200%; font-weight: normal; }
.zone_fade h2 { font-size: 190%; font-weight: normal; }
.zone_fade h3 { font-size: 180%; font-weight: normal; }
.zone_fade h4 { font-size: 160%; font-weight: normal; }
.zone_fade h5 { font-size: 150%; font-weight: normal; }
.zone_fade h6 { font-size: 120%; font-weight: normal; }

.zone_scroll h1 { font-size: 200%; font-weight: normal; display: inline; }
.zone_scroll h2 { font-size: 190%; font-weight: normal; display: inline; }
.zone_scroll h3 { font-size: 180%; font-weight: normal; display: inline; }
.zone_scroll h4 { font-size: 160%; font-weight: normal; display: inline; }
.zone_scroll h5 { font-size: 150%; font-weight: normal; display: inline; }
.zone_scroll h6 { font-size: 120%; font-weight: normal; display: inline; }

.zone_scroll img { height: 0.7em; width: auto; }
.zone_scroll br { display: none; }
.zone_scroll .post_inner div { display: inline-block; }

.tweet_content {
    text-align: left;
}
