{% load static %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Streetsign</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/feeds/">Feeds <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts/">Posts</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="content" class="container-fluid">
{% block content %}
{% endblock %}
    </div>
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.bundle.js" %}"></script>
</body>
</html>
