{% macro userselect(tagname, all_list, selected_list) %}
<select multiple name="{{tagname}}" data-placeholder="Select Users..." autocomplete="off" class="chosen" >
{%- for user in all_list -%}
    <option {{ 'selected' if user in selected_list }} value="{{user.id}}"
     class="{{'admin' if user.is_admin }}">
        {{- '*' if user.is_admin }}{{user.displayname}}</option>
{%- endfor -%}
</select>
{% endmacro %}

{% macro groupselect(tagname, all_list, selected_list) %}
<select multiple name="{{tagname}}" autocomplete="off" data-placeholder="Select User Groups..." class="chosen form-control">
{%- for group in all_list -%}
    <option {{ 'selected' if group in selected_list }} value="{{group.id}}" >
        {{- group.name -}}</option>
{%- endfor -%}
</select>
{% endmacro %}

