{% extends "index.html" %}
{% block title %} Dashboard {% endblock %}

{% block body %}
{% if session.logged_in %}

<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title"> Unpublished Posts I can publish:</h2>
    </div>
    <div class="panel-body">
      <ul class="list">
      {% for post in posts_to_publish %}
        <li><span class="{{ 'published' if post.published else 'unpublished' }}">{{ linkmacros.post(post) }}</span>
            <form method="post" action="{{ url_for('postpage', postid=post.id) }}">
              <input type="hidden" name="action" value="publish" />
              <input type="submit" class="newbutton" value="Publish" style="" /></form>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>


{% if publishable_feeds %}

<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title"> Feeds I can publish to:</h2>
    </div>
    <div class="panel-body">
      <ul class="list">
      {% for feed in publishable_feeds %}
        <li><a href="{{url_for('feedpage', feedid=feed.id)}}">{{ feed.name }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endif %} <!-- /publishable feeds -->


<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title"> My recent Posts:</h2>
    </div>
    <div class="panel-body">
      <ul class="list">
      {% for post in posts %}
        <li class="{{ 'published' if post.published else 'unpublished' }}">{{ linkmacros.post(post) }} ( {{ 'published' if post.published else 'unpublished' }} ) </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title"> Feeds I can write for:</h2>
    </div>
    <div class="panel-body">
      <ul class="list">
      {% for feed in feeds %}
        <li><a href="{{url_for('feedpage', feedid=feed.id)}}">{{ feed.name }}</a> -
            {% if feed.user_can_write(user) %}
                <a href="{{ url_for('post_new') }}?initial_feed={{ feed.id }}"
                   class="newbutton">New Post</a>
            {% endif %}
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endif %}

<div class="cf"></div>
{% endblock %}
