{% extends "index.html" %}
{% block title %} Dashboard {% endblock %}

{% block body %}
{% if session.logged_in %}
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title"> Unpublished Posts I can publish:</h2>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						{% for post in posts_to_publish %}
							<tr>
								<td>
									{{ linkmacros.post(post) }}
								</td>
								<td>
									<form method="post" action="{{ url_for('postpage', postid=post.id) }}">
										<input type="hidden" name="action" value="publish" />
										<input type="submit" class="btn btn-default btn-sm newbutton pull-right" value="Publish" style="" />
									</form>
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Feeds I can write for:</h2>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
					{% for feed in feeds %}
						{% if feed.user_can_write(user) %}
							<tr>
								<td>
								<a href="{{url_for('feedpage', feedid=feed.id)}}">{{ feed.name }}</a>
								</td>
								<td>
									<a href="{{ url_for('post_new', feed_id=feed.id) }}"
										 class="btn btn-sm btn-default pull-right">New Post</a>
								</td>
							</tr>
						{% endif %}
					{% endfor %}
					</table>
				</div>
			</div>
		</div>

		
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title"> My recent Posts:</h2>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						{% for post in posts %}
							<tr>
							<td class="{{ 'published' if post.published else 'unpublished' }}">
								{{ linkmacros.post(post) }}
								{{ '(unpublished)' if not post.published }}
							</td>
							<td>
							{% if post in posts_to_publish %}
									<form method="post" action="{{ url_for('postpage', postid=post.id) }}">
										<input type="hidden" name="action" value="publish" />
										<input type="submit" class="btn btn-default btn-sm newbutton pull-right" value="Publish" style="" />
									</form>
							{% endif %}
							</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>

		{% if publishable_feeds %}

			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title"> Feeds I can publish to:</h2>
					</div>
					<div class="panel-body">
						<ul class="list">
							{% for feed in publishable_feeds %}
								<li>
									<a href="{{url_for('feedpage', feedid=feed.id)}}">{{ feed.name }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>

		{% endif %} {# /publishable feeds #}

		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Other:</h2>
				</div>
				<div class="panel-body">
					<button type="button" class="btn btn-default" id="run_housekeeping"
					        title="Archive old posts, delete really old posts">
						<span class="glyphicon glyphicon-compressed"></span>Do Housekeeping</button>

				</div>
			</div>
		</div>

	</div>

	<!-- endif logged in -->
{% else %}
	<div class="jumbotron">
		<h1>{{ g.site_vars.site_title }}</h1>
	</div>
{% endif %}

<div class="row">
	<h2>Public Screens</h2>
</div>
<div class="row">
	{% for client in aliases if client.show_on_dashboard %}
		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a href="{{ url_for('client_alias', alias_name=client.name) }}">
					{% if client.screen.background %}
						<img src="/static/user_files/{{ client.screen.background }}"
								 style="width:100%;height:auto" alt="...">
					{% else %}
						<div style="width:100%;height:2em;background:black"></div>
					{% endif %}
					<h3>{{ client.name }}</h3>
				 </a>
			</div>
		</div>
	{% endfor %}
</div>
<div class="cf"></div>
{% endblock %}
