{% extends "index.html" %}

{% block body %}
<form method="POST" role="form" id="source_form">
<input type="hidden" name="type" value="{{ source.type}}" />

<div class="col-md-10">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">External Data Source ({{ source.type }})</h2>
    </div>
    <div class="panel-body form">
      <div class="form-group col-md-6">
        <label class="control-label">Name:</label>
        <input class="form-control" name="name" type="text" value="{{ source.name }}" />
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="form-label">Feed:</label>
          <select class="form-control" name="feed">
            {% for f in feeds %}
              <option value="{{f.id}}" {{ "selected" if f == source.feed else ""}}>{{f.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="form-label">Update Every:</label>
          <div class="input-group">
            <input class="form-control" name="frequency" type="number" value="{{ source.frequency }}" />
            <span class="input-group-addon">minutes</span>
          </div>
        </div>
        <small>(last checked: {{ source.last_checked }})</small>
      </div>
    </div>
  </div>
</div>
<div class="col-md-2">
    <input class="btn btn-primary" type="submit" value="Save" />
    <a class="btn btn-success" href="#" id="test_btn">Test</a>
    {% if source.id %}
        <a class="btn btn-info" href="{{ url_for('external_source_run', source_id=source.id) }}" id="run_now">Run Now</a>
    {% endif %}
</div>

<div class="cf"></div>

<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title"> {{ source.type}} settings: </h2>
    </div>
    <div class="panel-body form">
      {{ form |safe }}
    </div>
  </div>
<div id="test_area">for tests...</div>
</div>

<div class="col-md-4"><div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">New Post Lifetime</h2>
  </div>
  <div class="panel-body form">
    <div class="form-group">
      <label class="control-label">Start Time Formula</label>
        <input class="form-control" name="active_start" type="text" value="{{source.lifetime_start}}"/>
    </div>

    <div class="form-group">
      <label class="control-label">End Time Formula</label>
        <input class="form-control" name="active_end" type="text" value="{{source.lifetime_end}}" />
    </div>

    <div class="form-group">
      <label class="control-label">Display-time on screen</label>
        <div class="input-group">
            <input class="form-control" name="display_time" type="number" value="{{ source.display_time if source.display_time else 8 }}" title="How long should each post be displayed on screen for?" />
            <span class="input-group-addon">seconds</span>
        </div>
    </div>

    <div class="form-group">
      <div class="checkbox">
      <label class="control-label" > Publish automatically?
      <input name="publish" type="checkbox" {{ "checked" if source.publish else '' }} />
      </label>
      </div>
    </div>

  </div>
</div>
</div>

</form>
<script type="text/javascript">
$('#test_btn').click(function(e){
    e.preventDefault();
    $('#test_area').load(
        "{{ url_for('external_source_test') }}",
        $('#source_form').serialize());
});

$('#run_now').click(function(e){
    e.preventDefault();
    $.post(this.href, {"force":"yes"}, function() { location.reload(); });
});
</script>
{% endblock %}
