{% extends "index.html" %}
{% block title %} Feed Lists {% endblock %}

{% block body %}
<table class="table table-striped">
<thead>
  <tr>
    <th>Feed Name</th>
    <th></th>
  </tr>
</thead>
<tbody>
{% for feed in feeds %}
    <tr>
        <td><a href="{{url_for('feedpage', feedid=feed.id)}}">{{ feed.name }}</a></td>
        <td>{% if session.display_admin_stuff %}<form method="POST" action="{{ url_for('feedpage', feedid=feed.id) }}">
            <input type="hidden" name="action" value="delete" />
            <input type="submit" value="X" class="delbutton confirm_delete"></form>{% endif %}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% if session.display_admin_stuff %}
    <form action="{{ url_for('feeds') }}" method="POST">
    <h2> New Feed </h2>

<span class="centerbox">
    <label>Title:<input name="title" placeholder="new feed name..."/></label>
    <input type="submit" value="Create!" class="newbutton" />
    </form>
</span>
{% endif %}
{% endblock %}
