{% extends "index.html" %}
{% block title %} Feed Lists {% endblock %}

{% block body %}
<div class="col-md-8">
<table class="table table-striped">
<thead>
  <tr>
    <th>Feed Name</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
  {% for feed in feeds %}
    <tr>
        <td>
            <a href="{{url_for('feedpage', feedid=feed.id)}}">{{ feed.name }}</a>
             <span class="badge">{{ feed.post_count(expired=True, published=False) }} posts</span>
             <span class="badge">{{ feed.post_count() }} active</span>
        </td>
        <td>
         {% if feed.user_can_write(user) %}
            <a href="{{ url_for('post_new', feed_id=feed.id) }}"
               class="btn btn-default btn-sm">Create New Post</a>
         {% endif %}
        </td>
        <td>
          {% if session.display_admin_stuff %}
            <form method="POST" action="{{ url_for('feedpage', feedid=feed.id) }}">
              <input type="hidden" name="action" value="delete" />
              <input type="submit" value="&times;" class="btn close confirm_delete" aria-hidden="true">
            </form>
          {% endif %}
        </td>
    </tr>
  {% endfor %}
</tbody>
</table>
</div>

{% if session.display_admin_stuff %}
<div class="col-md-4">
  <form action="{{ url_for('feeds') }}" method="POST">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title"> New Feed </h2>
      </div>
      <div class="panel-body">
        <label>Title:</label>
        <input name="title" placeholder="new feed name..." class="form-control" />
        <hr/>
        <input type="submit" value="Create!" class="btn btn-primary" />
      </div>
    </div>
  </form>
</div>
<div class="cf"></div>

<div class="col-md-12">
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">External Data Importers</h2>
  </div>
  <div class="panel-body">
  <div class="col-md-12">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Data Type</th>
        <th>Name</th>
        <th>Feed</th>
        <th>Publish New Posts?</th>
        <th>
          <div class="btn-group">
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">New <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">
          {% for data_type in source_types %}
            <li><a href="{{ url_for('external_data_source_edit', type=data_type.name) }}">{{ data_type.name}}</a></li>
          {% endfor %}
          </ul>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
    {% for source in external_sources %}
      <tr class="source_item">
        <td>{{ source.type }}</td>
        <td><a href="{{ url_for('external_data_source_edit', source_id=source.id) }}">{{ source.name }}</a></td>
        <td>{{ source.feed.name }}</td>
        <td>{{ source.publish }}</td>
        <td>
            <a class="btn btn-default" href="{{ url_for('external_data_source_edit', source_id=source.id) }}">Edit</a>
            <a class="btn btn-danger confirm_ajax_delete" href="{{ url_for('external_data_source_edit', source_id=source.id) }}" data-item=".source_item"> &times;</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
  </div>
</div>
</div>
{% endif %}
{% endblock %}
