{% extends "index.html" %}
{% block title %} Feed Lists {% endblock %}

{% block body %}
<div class="col-md-8">
<table class="table table-striped">
<thead>
  <tr>
    <th>Feed Name</th>
    <th></th>
  </tr>
</thead>
<tbody>
{% for feed in feeds %}
    <tr>
        <td><a href="{{url_for('feedpage', feedid=feed.id)}}">{{ feed.name }}</a></td>
        <td>{% if session.display_admin_stuff %}<form method="POST" action="{{ url_for('feedpage', feedid=feed.id) }}">
            <input type="hidden" name="action" value="delete" />
            <input type="submit" value="X" class="delbutton confirm_delete"></form>{% endif %}</td>
    </tr>
{% endfor %}
</tbody>
</table>
</div>

{% if session.display_admin_stuff %}
<div class="col-md-4">
  <form action="{{ url_for('feeds') }}" method="POST">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title"> New Feed </h2>
      </div>
      <div class="panel-body">
        <label>Title:</label>
        <input name="title" placeholder="new feed name..." class="form-control" />
        <hr/>
        <input type="submit" value="Create!" class="btn btn-primary" />
      </div>
    </div>
  </form>
</div>
<div class="cf"></div>

<div class="col-md-12">
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">External Data Importers</h2>
  </div>
  <div class="panel-body">
    <p> Work In Progress  (TODO!) </p>
  </div>
</div>
</div>
{% endif %}
{% endblock %}
