{% extends "index.html" %}
{% block title %} Feed: {{ feed.name }} {% endblock %}

{% block body %}
<h1>Feed: {{ feed.name }} </h1>
<table class="table table-striped">
<thead>
  <tr>
    <th>Post</th>
    <th>Author</th>
    <th>Date</th>
    <th colspan=2>{% if feed.user_can_write(user) %}<a href="{{ url_for('post_new', feed_id=feed.id) }}" class="btn btn-primary">NEW</a>{% endif %}</th>
  </tr>
</thead>
<tbody>
{% for post in feed.posts|sort(attribute="active_end") %}
    <tr class="time_{{- post.active_status() }} {{ 'un' if not post.published}}published" >
        <td>{{ linkmacros.post(post) }}</td>
        <td>{{ linkmacros.user(post.author) }}</td>
        <td><b>Written:</b> {{ post.write_date.date() }}<br/>
            <b>Lifetime:</b> {{ post.active_status() }}</td>
        <td>{{ 'Published' if post.published }}
            {% if feed.user_can_publish(user) %}
                <form method="POST" action="{{ url_for('postpage',postid=post.id) }}" >
                    <input type="hidden" name="action" value="
                        {{- 'unpublish' if post.published else 'publish' }}">
                    <input class="btn btn-default" type="submit" value="
                        {{- 'Unpublish' if post.published else 'Publish' }}">
                </form>
            {% endif %}
        </td>
        <td>{% if (post.published and feed.user_can_publish(user)) or
                  ((not post.published) and feed.user_can_write(user)) %}
            <form method="POST" action="{{ url_for('postpage',postid=post.id) }}" >
            <input type="hidden" name="action" value="delete" />
            <input class="delbutton confirm_delete" type="submit" value="&times;" /></form>
            {% endif %}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% if user.is_admin %}
<form method="POST" id="users_and_groups" class="form">
<label for="post_types">What kind of new posts are allowed here?</label><br/>
<input name="post_types" type="text" value="{{feed.post_types}}" class="form-control"/>
(blank means all)
<hr/>

<input type="hidden" name="action" value="edit" />
<div class="autowidth">
<h2>Permissions for this feed.</h2>
<div class="col-md-3"><div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Author Users:</h3>
</div>
<div class="panel-body">
    {{ widgets.userselect("authors", allusers, feed.authors()) }}
</div>
</div></div>
<div class="col-md-3"><div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Publisher Users:</h3>
</div>
<div class="panel-body">
    {{ widgets.userselect("publishers", allusers, feed.publishers()) }}
</div>

</div></div>
<div class="col-md-3"><div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Author Groups:</h3>
</div>
<div class="panel-body">
    {{ widgets.groupselect("author_groups", allgroups, feed.author_groups()) }}
</div>
</div></div>
<div class="col-md-3"><div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Publisher Groups:</h3>
</div>
<div class="panel-body">
    {{ widgets.groupselect("publisher_groups", allgroups, feed.publisher_groups()) }}
</div>
</div></div>
<input type="submit" value="Save" class="btn btn-primary"/>
</form>
{% else %}
<div class="leftside">
<h3>Authors who can post here:</h3>
{% for u in feed.authors() %}
<ul class="list">
  <li>{{ linkmacros.user(u) }}</li>
{% endfor %}
</div>
<div class="rightside">
<h3>Publishers</h3>
<ul class="list">
{% for u in feed.publishers() %}
  <li>{{ linkmacros.user(u) }}</li>
{% endfor %}
</ul>
</div>
{% endif %}
<div class="cf"></div>
</div>
{% endblock %}

{% block end_of_page_javascript %}
{{ super() }}
{% if not user.is_admin %}
<script type="text/javascript">
$('users_and_groups input').attr('disabled','disabled');
$('users_and_groups select').attr('disabled','disabled');
</script>
{% endif %}
{% endblock %}
