{% extends "index.html" %}
{% block title %} Userlist {% endblock %}

{% block body %}
{% if not session.display_admin_stuff %}
<table>
<thead>
<tr>
<td>Display Name</td>
<td>login name</td>
<td>Email</td>
<td></td>
</tr>
</thead>
<tbody>
{% for user in group.users() %}
    <tr>
    <td>{{ linkmacros.user(user) }}</td>
    <td>{{ user.loginname }}</td>
    <td>{{ user.emailaddress }}</td>
    <td>{% if user.is_admin %}ADMIN {% endif %}
        {% if user.is_locked_out %} Locked Out! {% endif %}
    </tr>
{% endfor %}
</tbody>
</table>
{% else %}
<form action="" method="POST">
<input type="hidden" name="action" value="update" />
<label>Name:<input name="groupname" value="{{group.name}}" /></label>
<label>Users:
{{ widgets.userselect('groupusers', allusers, group.users()) }}
</label>
<input type="submit" value="Save" />
</form>
{% endif %}
{% endblock %}
