{% extends "index.html" %}
{% block title %} User Group list {% endblock %}

{% block body %}
<table class="table table-striped">
<thead>
<tr>
<th>Group Name</th>
<th>Members</th>
<th></th>
</tr>
</thead>
<tbody>
{% for group in groups %}
    <tr>
        <td><a href="{{ url_for('group',groupid=group.id) }}">{{ group.name }}</a></td>
        <td>{% for u in group.users() %}{{ u.displayname }}{{ ',' if not loop.last }} {% endfor %}</td>
        <td>{% if session.display_admin_stuff %}
        <form action="{{ url_for('group',groupid=group.id) }}" method="POST">
        <input type="hidden" name="action" value="delete" />
        <input type="submit" class="btn btn-sm btn-danger confirm_delete" value="&times;" />
        </form>
        {% endif %}</td>
    </tr>
{% endfor %}
</tbody>
</table>

{% if session.display_admin_stuff %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"> New Group </h2>
  </div>
  <div class="panel-body">
    <form action="{{ url_for('groups') }}" method="POST" class="form-inline" role="form">
    <div class="form-group">
        <label class="form-label sr-only">Name:</label>
        <input name="name" placeholder="new group name..." class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create!</button>
    </form>
  </div>
</div>
{% endif %}

{% endblock %}
