{% macro user(a) -%}
<a href="{{ url_for('user_edit', userid=a.id) }}">{{a.displayname}}</a>
{%- endmacro %}

{% macro feed(a) -%}
<a href="{{ url_for('feedpage', feedid=a.id) }}">{{a.name}}</a>
{%- endmacro %}

{% macro static_js(name) -%}
<script type="text/javascript" src="{{ url_for('static', filename=name) }}"></script>
{%- endmacro %}

{% macro static_css(name) -%}
<link rel="stylesheet" href="{{ url_for('static', filename=name) }}" />
{%- endmacro %}

{% macro post(post) %}
<a href="{{ url_for('postpage', postid=post.id) }}">{{ post.repr() }}</a>
{% endmacro %}

{% macro admin_lock() %}
{{- ' locked '  if sessions.display_admin_stuff else '' -}}
{% endmacro %}
