{% extends "post_editor.html" %}

{% block title %} New Post {% endblock %}

{% block body %}
<h2>New Post (in {{ post.feed.name }})</h2>
<div style="text-align:center">
<ul class="nav nav-tabs">
{%- for type in post_types -%}
  <li><a href='#' data-posttype="{{type.id}}" class="post_type_button">{{ type.name }}</a></li>
{%- endfor -%}
</ul>
</div>
<form action="{{ form_action }}" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="action" value="new" />
  {% include "post_editor_form.html" %}
</form>

{% endblock %}

   {% block page_specific_js %}
   {{ linkmacros.static_js('post_editor.js') }}
   <script type="text/javascript">
    // As the static js is static, we need in inject URLs here.
    var POST_TYPE_URL = function(id) {
        var o="{{url_for('postedit_type', typeid='-1')}}";
        return o.replace(/-1/, id);
    };

    // Used by the TimesModel, initialised in post_editor.html
    var TIME_RESTRICTIONS=[];
    </script>
    {% endblock %}
