{% macro enabled_if(condition) %}
  {{- ' disabled ' if not condition -}}
{% endmacro %}
{% if feedlist %}
    {% if can_write %}
        <input type="submit" value="Post!" style="float:right;"/>
    {% else %}
        You cannot Post / Save.
    {% endif %}
{% endif %}

<div id="postcontentblock">
<input type="hidden" name="post_type" value="{{ post_type }}" />
{{ form_content|safe }}
</div>

{% if not feedlist %}
    You do NOT have permission to write to any feeds! Sorry!
{% else %}
    <label>Feed to post to: 
    <select name="post_feed" class="chosen" autocomplete="off"
            data-placeholder="Please select which feed this post should appear on">
    {% for feed in feedlist %}
        <option value="{{ feed.id }}"
            {{- ' selected' if feed.id == current_feed }}>{{ feed.name }}</option>
    {% endfor %}
    </select></label>
    {% if post.id %}<p>{{ 'Not' if not post.published }} Published</p>{% endif %}
    <hr/>
{% endif %}

<h2>Post Lifetime:</h2>

    <label>Start: <input type="text" name="active_start" id="active_start"
                   {{ enabled_if(can_write) }} value="{{ post.active_start }}"></label>
    <label>End:   <input type="text" name="active_end" id="active_end"
                   {{ enabled_if(can_write) }} value="{{ post.active_end}}"/></label>
    <br/>
    <label>How many seconds to show for at one time?
                <input type="number" name="displaytime" data-min="1" data-max="500"
                       value="{{ post.display_time }}" /></label>

<h3>Time restrictions:</h3>

<table style="min-width:80%">
<thead>
  <tr>
    <td colspan=4 style="text-align: right">
        <label>Do NOT show during the following times:
            <input type="radio" name="times_mode" value="do_not_show"
                   {{ 'checked' if not post.time_restrictions_show }} /></label><br/>
        <label>Only show during the following times:
            <input type="radio" name="times_mode" value="only_show"
                   {{ 'checked' if post.time_restrictions_show }}/></label><br/>

    </td>
  </tr>
<tr>
 <td>Start</td>
 <td>End</td>
 <td>Why? (optional)</td>
 <td>{% if can_write %}<a class="newbutton" href="#"
                          data-bind="click: $root.addTime">New</a>
     {% endif %}</td>
</tr>
</head>
<tbody data-bind="foreach: times">
  <tr>
    <td><input type="time" data-bind="timeHandler: start" /></td>
    <td><input type="time" data-bind="timeHandler: end" /></td>
    <td><input data-bind="value: note" /></td>
    <td>{% if can_write %}<a href="#" class="delbutton"
                             data-bind="click: $root.removeTime">X</a>
        {% endif %}</td>
  </tr>
</tbody>
</table>
<input type="hidden" name="time_restrictions_json" data-bind="value: ko.toJSON($root.times)" />
<!--<input style="width: 80%; height: 90px" data-bind="value: ko.toJSON($root.times)"/>-->

{% if feedlist %}
    {% if can_write %}
        <input type="submit" value="Post!" />
    {% else %}
        You cannot Post / Save.
    {% endif %}
{% else %}
    You do NOT have permission to post on any feeds.
{% endif %}
