{% macro enabled_if(condition) %}
  {{- ' disabled ' if not condition -}}
{% endmacro %}

{% if post.feed.user_can_write(user) %}
        <input type="submit" value="{{ 'Post!' if not post.id else 'Save' }}" class="btn btn-primary pull-right"/>
{% endif %}

<div id="postcontentblock" class="well">
<input type="hidden" name="post_type" value="{{ post.type }}" />
{{ form_content|safe }}
</div>

{% if post.id %}<p>{{ 'Not' if not post.published }} Published</p>{% endif %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Post Lifetime:</h2>
    </div>
    <div class="panel-body">

    <div class="col-md-6">
    <label>Start:</label>
        <div class="form-group">
            <div class="input-group date" id="datetimestart" data-date-format="YYYY-MM-DD HH:mm:ss">
                <input type="text" name="active_start" id="active_start"
                       class="form-control" {{ enabled_if(post.feed.user_can_write(user)) }}
                       value="{{ post.active_start }}"
                       />
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
    </div>

    <div class="col-md-6">
    <label>End:</label>
        <div class="form-group">
            <div class="input-group date" id="datetimeend" data-date-format="YYYY-MM-DD HH:mm:ss" >
                <input type="text" name="active_end" id="active_end"
                       class="form-control" {{ enabled_if(post.feed.user_can_write(user)) }}
                       value="{{ post.active_end }}"
                       />
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
    </div>

    <br/>
    <label>How many seconds to show for at one time?
                <input type="number" name="displaytime" data-min="1" data-max="500"
                       class="form-control" value="{{ post.display_time }}" /></label>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Time restrictions:</h3>
    </div>
    <div class="panel-body">

<table style="min-width:80%" class="table table-striped">
<thead>
  <tr>
    <th colspan=4 style="text-align: right">
        <label>Do NOT show during the following times:
            <input type="radio" name="times_mode" value="do_not_show"
                   {{ 'checked' if not post.time_restrictions_show }} /></label><br/>
        <label>Only show during the following times:
            <input type="radio" name="times_mode" value="only_show"
                   {{ 'checked' if post.time_restrictions_show }}/></label><br/>

    </th>
  </tr>
<tr>
 <th class="col-sm-2">Start</th>
 <th class="col-sm-2">End</th>
 <th>Why? (optional)</th>
 <th>{% if post.feed.user_can_write(user) %}<a class="btn btn-primary" href="#"
                          data-bind="click: $root.addTime">New</a>
     {% endif %}</th>
</tr>
</thead>
<tbody data-bind="foreach: times">
  <tr>
    <td>
        <div class="form-group"> <div class="input-group date">
            <input type="time" data-bind="timeHandler: start" class="form-control"
                data-date-format="HH:mm" />
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span></span>
        </div> </div>
    </td>
    <td>
        <div class="form-group"> <div class="input-group date">
            <input type="time" data-bind="timeHandler: end" class="form-control"
                data-date-format="HH:mm" />
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span></span>
        </div> </div>
    </td>
    <td><input data-bind="value: note" class="form-control" /></td>
    <td>{% if post.feed.user_can_write(user) %}<a href="#" class="btn delbutton"
                             data-bind="click: $root.removeTime">&times;</a>
        {% endif %}</td>
  </tr>
</tbody>
</table>
<input type="hidden" name="time_restrictions_json" data-bind="value: ko.toJSON($root.times)" />
<!--<input style="width: 80%; height: 90px" data-bind="value: ko.toJSON($root.times)"/>-->
</div>
</div>

{% if post.feed.user_can_write(user) %}
        <input class="btn btn-primary" type="submit" value="{{ 'Post!' if not post.id else 'Save' }}" />
{% endif %}
