{% extends "index.html" %}
{% block title %} Screens {% endblock %}

{% block body %}
<h2>Layouts</h2>
<p>Design different layouts &amp; themes for your screen(s).</p>
<table class="table table-striped">
<thead>
  <tr>
    <th>View URL</th>
    <th>Actions</th>
    <th>
      {% if session.display_admin_stuff %}
        <a href="{{ url_for('screenedit', screenid=-1) }}"
           class="btn btn-primary">New</a>
      {% endif %}
    </th>
  </tr>
</thead>
<tbody>
{% for s in screens %}
    <tr>
        <td><a href="{{url_for('screendisplay', template='basic', screenname=s.urlname)}}">{{url_for('screendisplay', template='basic', screenname=s.urlname)}}</a>
        <td><a href="{{url_for('screendisplay', template='basic', screenname=s.urlname)}}" class="btn btn-sm btn-default">View</a>{% if session.display_admin_stuff %} - <a href="{{url_for('screenedit', screenid=s.id)}}" class="btn btn-sm btn-default" >Edit</a>{% endif %}</td>
        <td>{% if session.display_admin_stuff %}<form method="POST" action="{{ url_for('screenedit', screenid=s.id) }}">
            <input type="hidden" name="action" value="delete" />
            <input type="submit" value="&times; Delete" class="btn btn-sm delbutton confirm_delete"></form>{% endif %}</td>
    </tr>
{% endfor %}
</tbody>
</table>
You can add extra 'query arguments' to the URLs, to force the aspect ratio, etc.  <a href="http://streetsign.readthedocs.org/en/latest/screen_options.html#screen-over-ride-options" target="_blank">More details</a>
<hr/>
<h2> Aliases </h2>
<button data-bind="click: addAlias" class="btn">Add</button>
<button data-bind="click: saveAliases" class="btn btn-primary">Save</button>
<table class="table table-striped">
<thead>
  <tr>
    <th></th>
    <th>Access Key / Client ID</th>
    <th>Layout</th>
    <th>Engine</th>
    <th>Options</th>
  </tr>
</thead>
<tbody data-bind="foreach: aliases">
  <tr>
    <td><button data-bind="click: $root.deleteAlias">&times;</button></td>
    <td>
        <input data-bind="value: name" /><br/>
        URL: <a data-bind="attr: {href: url}, text: url">URL</a></br>
        Display on public dashboard: <input type=checkbox />
    </td>
    <td><select data-bind="options: SCREEN_NAMES, value:screen_name"></select></td>
    <td><select data-bind="options: SCREEN_TYPES, optionsText: 'name', optionsValue:'engine', value: screen_type"></select></td>
    <td>
      <small>
      <label>fadetime: <input type="number" data-bind="value: fadetime" /></label>
      <label>scrollspeed: <input type="number" data-bind="value: scrollspeed" /></label>
      <label>aspect radio: <input type="number" data-bind="value: forceaspect" /></label>
      <label>vertical offset: <input type="number" data-bind="value: forcetop" /></label>
      </small>
    </td>
  </tr>
</tbody>
</table>


{% endblock %}

{% block end_of_page_javascript %}
{{ super() }}
{{ linkmacros.static_js('alias_editor.js') }}
<script>
SCREEN_NAMES=[{% for s in screens %}"{{ s.urlname}}",{% endfor %}"(unset)"];
SCREEN_TYPES=[{'engine': 'basic', 'name': 'CSS3 Transitions'},
              {'engine': 'notrans', 'name': 'JS Transitions (use on pi)'},
              {'engine': 'mobile', 'name': 'Mobile devices'}];
ko.applyBindings(new AliasesView({{ aliases | tojson| safe }}));
</script>
{% endblock %}
