{% extends "index.html" %}
{% block title %} Screens {% endblock %}

{% block body %}
	<h2>Layouts</h2>
	<p>Design different layouts &amp; themes for your screen(s).</p>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>View URL</th>
				<th>Actions</th>
				<th>
					{% if session.display_admin_stuff %}
						<a href="{{ url_for('screenedit', screenid=-1) }}"
						   class="btn btn-primary pull-right">New</a>
					{% endif %}
				</th>
			</tr>
		</thead>
		<tbody>
			{% for s in screens %}
				<tr>
					<td>
						<a href="{{url_for('screendisplay',template='basic',screenname=s.urlname)}}">{{url_for('screendisplay', template='basic', screenname=s.urlname)}}</a>
					</td>
					<td>
						<a href="{{url_for('screendisplay', template='basic', screenname=s.urlname)}}" class="btn btn-sm btn-default">View</a>
						{% if session.display_admin_stuff %}
							- <a href="{{url_for('screenedit', screenid=s.id)}}"
							     class="btn btn-sm btn-default" >Edit</a>
						{% endif %}
					</td>
					<td>
						{% if session.display_admin_stuff %}
							<form method="POST" action="{{ url_for('screenedit', screenid=s.id) }}">
								<input type="hidden" name="action" value="delete" />
								<input type="submit" value="&times;"
								       class="btn btn-sm close confirm_delete pull-right" />
							</form>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	You can add extra 'query arguments' to the URLs, to force the aspect ratio, etc.  <a href="http://streetsign.readthedocs.org/en/latest/screen_options.html#screen-over-ride-options" target="_blank">More details</a>
	<hr/>
	{% if session.display_admin_stuff %}
		<h2> Aliases </h2>
		<div class="pull-right">
			<button data-bind="click: addAlias" class="btn">Add</button>
			<button data-bind="click: saveAliases" class="btn btn-primary">Save</button>
		</div>
		<table class="table table-striped">
		<thead>
			<tr>
				<th>Access Key / Client ID</th>
				<th>Layout &amp; Engine</th>
				<th>Display Options</th>
				<th></th>
			</tr>
		</thead>
		<tbody data-bind="foreach: aliases">
			<tr>
				<td>
						<input data-bind="value: name" class="form-control" /><br/>
						URL: <a data-bind="attr: {href: url}, text: url">URL</a><br/>
						{% if session.display_admin_stuff %}
							Display on public dashboard:
							<input type=checkbox data-bind="checked: show_on_dashboard" />
						{% endif %}
				</td>
				<td>
					{% if session.display_admin_stuff %}
						<label>Layout:
							<select class="form-control"
							        data-bind="options: SCREEN_NAMES, value:screen_name"></select>
						</label><br/>
						<label>Engine:
							<select class="form-control"
							        data-bind="options: SCREEN_TYPES,
							                   optionsText: 'name',
							                   optionsValue:'engine',
							                   value: screen_type"></select>
						</label>
					{% else %}
						<b>Layout:</b> <span data-bind="text: screen_name"></span><br/>
						<b>Engine:</b> <span data-bind="text: screen_type"></span><br/>
					{% endif %}
				</td>
				<td>
					<small>
					<label>fadetime:
						<input type="number" class="form-control"
						       data-bind="value: fadetime" />
					</label><br/>
					<label>scrollspeed:
						<input type="number" class="form-control"
						       data-bind="value: scrollspeed" />
					</label><br/>
					<label>aspect radio:
						<input type="number" class="form-control"
						       data-bind="value: forceaspect" />
					</label><br/>
					<label>vertical offset:
						<input type="number" class="form-control"
						       data-bind="value: forcetop" />
					</label><br/>
					</small>
				</td>
				<td>
					{% if session.display_admin_stuff %}
						 <button class="btn close" data-bind="click: $root.deleteAlias">&times;</button>
					{% endif %}
				</td>
			</tr>
		</tbody>
		</table>
	{% endif %}

	{% endblock %}

	{% block end_of_page_javascript %}
	{{ super() }}
	{{ linkmacros.static_js('alias_editor.js') }}
	<script>
	SCREEN_NAMES=[{% for s in screens %}"{{ s.urlname}}",{% endfor %}"(unset)"];
	SCREEN_TYPES=[{'engine': 'basic', 'name': 'CSS3 Transitions'},
								{'engine': 'notrans', 'name': 'JS Transitions (use on pi)'},
								{'engine': 'mobile', 'name': 'Mobile devices'}];
	ko.applyBindings(new AliasesView({{ aliases | tojson| safe }}));
	</script>
{% endblock %}
