{% extends "index.html" %}

{% block htmlhead %}
    {{ super() }}
    {{ linkmacros.static_css('lib/colorpicker/bgrins-spectrum-2c2010c/spectrum.css') }}
<link rel="stylesheet" href="{{ url_for('user_fonts_css') }}" />
{% endblock %}
{% block title %}Edit Screen:{{ screen.id }}{% endblock %}
{% block body %}

<div class="col-md-6">
<form id="screen_form" method="post">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Screen ID:{{ screen.id }}
      <div class="pull-right">
      <a href="{{ url_for('screendisplay', template='basic', screenname=screen.urlname or '') }}" class="btn btn-default btn-sm">Preview</a>
      <input type="submit" id="save_btn" value="Save"
             class="btn btn-sm btn-primary"/>
      </div>
      </h2>
    </div>
    <div class="panel-body">
      <div class="col-md-6">
        <label>Name<input type="text" name="urlname" value="{{ screen.urlname }}" class="form-control" /></label>
      </div>
      <div class="col-md-6">
        <label style="display:block; width: 40%;">Background:</label>
        <select name="background" id="background" autocomplete="off" class="chosen">
         <option {{ 'selected' if not screen.background }} value="">None</option>
          {% for bg in backgrounds %}
            <option {{ 'selected' if bg == screen.background }} value="{{bg}}">{{bg}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="cf"></div>
    <!--
      <label>Default Text color:
      <input name="color" data-bind="value: color" type="color"><br/>-->
      <div class="col-md-12">
        <span style="display:none;">
        <label>Other Settings:</label><br/>
        <textarea name="settings" data-bind="value: other_settings" class="form-control"></textarea>
        </span>
        <label>CSS:</label><br/>
        <textarea name="css" data-bind="value: css" class="form-control"></textarea>
      </div>
      <!-- where the actual saved data happens -->
      <input type="hidden" name="zones" data-bind="value: ko.mapping.toJSON(zones)"/>
    </div> <!-- panel-body -->
  </div>
</form>

<div id="zones_container" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Zones:
    <span class="pull-right">
    <button data-bind="click: addZone" class="btn btn-xs btn-primary">New Zone</button>
    </span>
    </h3>
  </div>
  <div class="panel-body">
  <!-- ko foreach: zones -->
    <div class="panel panel-default" data-bind="attr: {'data-zoneedit': name}">
      <div class="panel-heading">
        <div class="input-group">
          <input name="urlname" data-bind="value: name"
                 placeholder="zone name" class="form-control" />
          <span class="input-group-btn">
            <button data-bind="click:$root.removeZone " class="btn delbutton">&times;</button>
          </span>
        </div>
      </div>
      <div class="panel-body" data-bind="click: $root.selectZone, event: {mouseover: $root.selectZone}">
        <div class="col-md-12">
            <label>Feeds:</label>
            <select multiple autocomplete="off" class="form-control"
                    data-bind="options: AVAILABLE_FEEDS, optionsText:'name',
                               optionsValue: 'id', selectedOptions: feeds, chosen:42" >
            </select>
        </div>
        <div class="col-md-6">
          <label>Zone type:</label>
          <select class="form-control" data-bind="options: ZONE_TYPES, 
              optionsText:'display', optionsValue:'name', value: type"></select>
        </div>
        <div class="col-md-6">
          <label>Fade time:</label>
          <div class="input-group">
            <input type="number" data-bind="value: fadetime"
                   class="form-control" />
            <span class="input-group-addon">msec</span>
          </div>
        </div>

        <div class="col-md-6">
          <label>Default Text Color:</label>
            <input type="color" data-bind="spectrum: color" class="form-control" />
          <br/>
          <label>Font</label>
          <select name="fontfamily" class="form-control" autocomplete="off"
              data-bind="options: AVAILABLE_FONTS, value:fontfamily">
          </select>
          <label>Other CSS:</label>
            <textarea name="css" data-bind="value: css" class="form-control"></textarea>
        </div>
        <div class="col-md-6">
          <label>Size:</label>
          <div class="sizes_box" style="margin:auto;background:#777;border-radius:90px">
            <input data-bind="value: top" placeholder="top" /><br/>
            <input data-bind="value: left" placeholder="left" />-<input data-bind="value:right" placeholder="right" /><br/>
            <input data-bind="value: bottom" placeholder="bottom" /><br/>
          </div>
        </div>

      </div> <!-- (zone) /panel-body -->
    </div> <!-- (zone) /panel -->
  <!-- /ko -->
  </div> <!-- (zones-container) /panel-body -->
  <div class="panel-footer">
    <button data-bind="click: addZone" class="btn btn-xs btn-primary">New Zone</button>
  </div>

</div> <!-- (zones-container) /panel -->

</div> <!-- col-md-6 -->

<div class="col-md-6">
  <h2>Zones layout
      <a href="{{ url_for('screendisplay', template='basic', screenname=screen.urlname or '') }}" class="btn btn-default btn-sm pull-right">Preview</a>
	</h2>
  <div class="well" data-spy="affix" data-offset-top="30" data-offset-bottom="30">
    <div id="my_fake_screen" class="fake_screen">
    <!-- ko foreach: zones -->
    <div class="fake_zone" data-bind="style: { top: top, left: left, right: right, bottom: bottom, color: color, 'font-family': fontfamily}, text: name, click: $root.selectZoneScroll, css: {selected: selected}"></div>
    <!-- /ko -->
    </div>
    Preview Aspect Ratio:<select id="fake_screen_aspect" class="form-control">
    <option value=1.333333>4:3</option>
    <option selected value=1.77777>16:9 (widescreen)</option>
    <option value="0.75">3:4 (sideways 4:3)</option>
    <option value="0.5625">9:16 (sideways widescreen)</option>
    </select>
    <!--
    <textarea style="float: right;clear:right; width: 100%; height: 100px" data-bind="value: ko.mapping.toJSON($root, null, 2)"></textarea>
    -->
</div>
</div>

{% endblock %}

{% block end_of_page_javascript %}
{{ super() }}
{{ linkmacros.static_js('lib/knockout.mapping-latest.js') }}
{{ linkmacros.static_js('lib/colorpicker/bgrins-spectrum-2c2010c/spectrum.js') }}
<script>
//$.fn.spectrum.load=false;
</script>
{{ linkmacros.static_js('model_zones.js') }}
<script type="text/javascript">
// server specified values:

BG="{{ screen.background }}";

SETTINGS=JSON.stringify({{ screen.settings|safe if screen.settings else '{}' }});
CSS="{{ screen.css | replace("\n","\\n") | replace("\r",'') |replace('</','') |safe }}";
ZONES={{ screen.zones|safe if screen.zones else '[]' }};
AVAILABLE_FEEDS = [
    {%- for feed in feeds -%}
        {id: "{{ feed.id }}", name: "{{ feed.name}}"} {{- ',' if not loop.last -}}
    {%- endfor -%} ];
AVAILABLE_FONTS = {{ fonts|tojson|safe }};
ZONE_TYPES= [
    {'name': 'fade', 'display': 'Fade In, Fade Out'},
    {'name': 'scroll', 'display': 'Scrolling text'}];

// init the view model:

var viewScreenModel = new ScreenModel(BG, SETTINGS, CSS, ZONES);
ko.applyBindings(viewScreenModel);

///////////////////////////////////////////////////////////////////
// Stuff for the "fake screen" preview.

// when the background value changes, so should the fake screen:

$('#background').change(function(){
    var newbg="url(/static/user_files/" + $('#background').val() + ')';
    $('#my_fake_screen').css('background-image', newbg );
}).change();


function update_fake_screen_size(e) {
    "use strict";

    // This function updates the fake screen (preview) to have the specified
    // aspect ratio.

    var fake_screen = $('#my_fake_screen');

    // reset width
    fake_screen.width('100%');
    // and set it to an absolute size, so scrolling doesn't mess it up.
    fake_screen.width(fake_screen.width());

    // set the height to the right aspect
    fake_screen.height($('#my_fake_screen').width() / $('#fake_screen_aspect').val());

    // and if the height is larger than the screen height, then reduce the
    // width and re-apply the aspect ratio until it works:

    while (fake_screen.height() > $(window).height() - 200) {
        fake_screen.width(fake_screen.width() - 10);
        fake_screen.height(fake_screen.width() / $('#fake_screen_aspect').val());
    }
}

// initialise the aspect ratio:
update_fake_screen_size();
// and update the aspect when the dropdown changes.
$('#fake_screen_aspect').change( update_fake_screen_size );

</script>

{% endblock %}
