{% extends "index.html" %}

{% block body %}
<div class="leftside">
    <h1> User Details: </h1>
    <form method="POST">
    <input type="hidden" name="action" value="update" />
    <table>
    <tbody>
    <tr>
      <td><label>login name:</label></td>
      <td><input name="loginname" locked value="{{user.loginname}}" /></td>
    </tr><tr>
      <td><label>Displayed name:</label></td>
      <td><input name="displayname" value="{{user.displayname}}" /></td>
    </tr><tr>
      <td><label>Email address:</lable></td>
      <td><input name="emailaddress" value="{{user.emailaddress}}" /></td>
    </tr><tr>
      <td><label>Is admin?</lable></td>
      <td>
      {% if session.display_admin_stuff and session.username != user.loginname %}
        <input type="checkbox" name="is_admin" {{'checked' if user.is_admin }}/>
      {% else %}
        {{ 'Yes' if user.is_admin else 'no' }}
        {{ '(you!)' if session.username == user.loginname }}
      {% endif %}
      </td>
    </tbody>
    </table>
</div>
{% if session.display_admin_stuff or session.userid == user.id %}
<div class="rightside">
    <h2> Change Password:</h2>
    <table>
    </tbody>
    <tr>
      <td><label><b>Your</b> current Password:</label></td>
      <td><input name="currpass" type="password" /></td>
    </tr>
    <tr>
      <td><label>New Password:</label></td>
      <td><input name="newpass" type="password" /></td>
    </tr>
    <tr>
      <td><label>Confirm new Password:</label></td>
      <td><input name="conf_newpass" type="password" /></td>
    </tr>
    </tbody>
    </table>
</div>
{% endif %}
<div class="cf">
<input style="float:right" type="submit" value="Save" />
</div><hr/>

<div class="leftside">
<h2> Feeds: </h2>
<ul class="list">
    {% for f in user.writeable_feeds() %}
        <li>{{ linkmacros.feed(f) }}</li>
    {% endfor %}
</ul>
</div>
<div class="rightside">
<h2> Recent Posts: </h2>
<ul class="list">
{% for post in posts %}
    <li>{{ linkmacros.post(post) }}</li>
{% endfor %}
</ul>
</div>
<div class="cf"></div>
<input style="float:right" type="submit" value="Save" />
<hr/>
<h2>Groups:</h2>
{% if session.display_admin_stuff %}
    {{ widgets.groupselect('groups', allgroups, user.groups()) }}
{% else %}
    <ul>
    {% for group in user.groups() %}
        <li>{{group.name}}</li>
    {% endfor %}
    </ul>
{% endif %}
<input type="submit" value="Save Changes." />
</form>
{% endblock %}
