{% extends "index.html" %}

{% block body %}
<form method="POST" role="form">
<input class="form-control" type="hidden" name="action" value="update" />

<div class="col-md-8">
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"> User Details: </h2>
  </div>
  <div class="panel-body form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">login name:</label>
      <div class="col-sm-10">
        <input class="form-control" name="loginname" value="{{user.loginname}}" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Displayed name:</label>
      <div class="col-sm-10">
        <input class="form-control" name="displayname" value="{{user.displayname}}" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Email address:</label>
      <div class="col-sm-10">
        <input class="form-control" name="emailaddress" value="{{user.emailaddress}}" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Is admin?</label>

      <div class="col-sm-10">
      {% if session.display_admin_stuff and session.username != user.loginname %}
        <input class="form-control" type="checkbox" name="is_admin" {{'checked' if user.is_admin }}/>
      {% else %}
        <p class="form-control-static">
        {{ 'Yes' if user.is_admin else 'no' }}
        {{ '(you!)' if session.username == user.loginname }}
        </p>
      {% endif %}
      </div>
    </div>
  </div>
</div>
</div>

{% if session.display_admin_stuff or session.userid == user.id %}
<div class="col-md-4"><div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"> Change Password:</h2>
  </div>
  <div class="panel-body form">
    <div class="form-group">
      <label class="control-label"><strong>Your</strong> current {{ 'admin' if session.display_admin_stuff }} Password:</label>
      <div class="col-sm-10">
<input class="form-control" name="currpass" type="password" />
</div>
    </div>
    <div class="form-group">
      <label class="control-label">New Password:</label>
      <div class="col-sm-10">
<input class="form-control" name="newpass" type="password" />
</div>
    </div>
    <div class="form-group">
      <label class="control-label">Confirm new Password:</label>
      <div class="col-sm-10">
<input class="form-control" name="conf_newpass" type="password" />
</div>
    </div>
  </div>
</div></div>
{% endif %}

<div class="cf">
<input class="btn btn-primary" style="float:right" type="submit" value="Save" />
</div><hr/>

<div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"> Feeds: </h2>
  </div>
  <div class="panel-body">
    <ul class="list">
        {% for f in user.writeable_feeds() %}
            <li>{{ linkmacros.feed(f) }}</li>
        {% endfor %}
    </ul>
  </div>
</div></div>

<div class="col-md-6">
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title"> Recent Posts: </h2>
    </div>
    <div class="panel-body">
    <ul class="list">
    {% for post in posts %}
        <li>{{ linkmacros.post(post) }}</li>
    {% endfor %}
    </ul>
    </div>
</div></div>

<div class="cf"></div>
<input class="btn btn-primary" style="float:right" type="submit" value="Save" />
<hr/>
<div class="panel panel-default">
<div class="panel-heading">
<h2 class="panel-title">Groups:</h2>
</div>
<div class="panel-body">
{% if session.display_admin_stuff %}
    {{ widgets.groupselect('groups', allgroups, user.groups()) }}
{% else %}
    <ul>
    {% for group in user.groups() %}
        <li>{{group.name}}</li>
    {% endfor %}
    </ul>
{% endif %}
</div>
<div class="panel-footer">
<input class="btn btn-primary" type="submit" value="Save Changes." />
</div>
</div>
</form>
{% endblock %}
