{% extends "index.html" %}
{% block title %} Users and Groups {% endblock %}

{% block body %}

<h1>Users</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Display Name</th>
			<th>login name</th>
			<th>Email</th>
			<th>
				<a href="{{url_for('user_edit',userid=-1)}}" class="btn btn-primary pull-right">New</a>
			</th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
			<tr data-item="{{ url_for('user_edit', userid=user.id) }}">
				<td>{{ linkmacros.user(user) }}</td>
				<td>{{ user.loginname }}</td>
				<td>{{ user.emailaddress }}</td>
				<td>
					{% if user.is_admin %} ADMIN {% endif %}
					{% if user.is_locked_out %} Locked Out! {% endif %}
					{% if session.display_admin_stuff %}
						{% if user.loginname != session.username %}
							<a class="confirm_ajax_delete btn close btn-sm" href="">&times;</a>
						{% endif %}
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<h1>Groups</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Group Name</th>
			<th>Members</th>
			<th>
				{% if session.display_admin_stuff %}
					<form action="{{ url_for('users_and_groups') }}" method="POST"
					      class="form-inline" role="form">
						<input name="action" value="creategroup" type="hidden" />
						<input name="name" type="hidden" />
						<button type="submit" class="btn btn-primary popup_ask pull-right"
						        data-inputname="name" data-prompt="New Group Name?"
						        data-autofill="newgroup">New</button>
					</form>
				{% endif %}
			</th>
		</tr>
	</thead>
	<tbody>
		{% for group in groups %}
			<tr>
				<td>
					<a href="{{ url_for('group',groupid=group.id) }}">{{ group.name }}</a>
				</td>
				<td>
					{% for u in group.users() %}
						{{ u.displayname }}{{ ',' if not loop.last }}
					{% endfor %}
				</td>
				<td>
					{% if session.display_admin_stuff %}
						<form action="{{ url_for('group',groupid=group.id) }}" method="POST">
							<input type="hidden" name="action" value="delete" />
							<input type="submit" class="btn btn-sm close confirm_delete"
							       value="&times;" />
						</form>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
