{% extends "index.html" %}
{% block title %} User Uploaded Files {{ dirname }} {% endblock %}

{% block body %}
<pre>{{ dirname }}</pre>
<table class="table table-striped">
<thead>
  <tr>
    <th>Filename</th>
    <th>Size</th>
    <th></th>
  </tr>
</thead>
<tbody>
{% for f in file_list %}
    <tr>
        <td><a href="{{ f.url }}" rel=new>{{f.thumb|safe if f.thumb else f.name}}</a></td>
        <td>{{ f.size }}</td>
        <td><form method="POST">
            <input type="hidden" name="filename" value="{{f.name}}" />
            <input type="hidden" name="action" value="delete" />
            <input type="submit" value="X" class="delbutton confirm_delete"></form></td>
    </tr>
{% endfor %}
</tbody>
</table>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Upload new file</h2>
  </div>
  <div class="panel-body">
  <form method="POST" enctype="multipart/form-data" class="form-inline" role="form">
    <input type="hidden" name="action" value="upload" />
    <input type="file" name="image_file" id="image_file" accept="image/*,application/x-font-ttf,application/x-font-otf" class="btn btn-default" />
    <input type="submit" value="Upload" class="btn btn-primary" />
  </form>
  </div>
</div>
{% endblock %}
