{% extends "index.html" %}
{% block title %} Users {% endblock %}

{% block body %}

<table class="table table-striped">
<thead>
<tr>
<th>Display Name</th>
<th>login name</th>
<th>Email</th>
<th>
<a href="{{url_for('user',userid=-1)}}" class="btn btn-primary">New</a>
</th>
</tr>
</thead>
<tbody>
{% for user in users %}
    <tr>
    <td>{{ linkmacros.user(user) }}</td>
    <td>{{ user.loginname }}</td>
    <td>{{ user.emailaddress }}</td>
    <td>{% if user.is_admin %}ADMIN {% endif %}
        {% if user.is_locked_out %} Locked Out! {% endif %}
        {% if session.display_admin_stuff %}
          {% if user.loginname != session.username %}
          <form action="{{ url_for('user',userid=user.id) }}" method="POST">
          <input type="hidden" name="action" value="delete" />
          <input type="submit" class="btn btn-danger btn-sm confirm_delete" value="&times;"/>
          </form>
          {% endif %}
        {% endif %}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
