{% extends "index.html" %}
{% block htmlhead %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='lib/chosen/chosen.min.css') }}" />
{% endblock %}
{% block title %} Feed: {{ feed.name }} {% endblock %}

{% block body %}
<h1>Feed: {{ feed.name }} </h1>
<h2>Posts:</h2>
<table>
<thead>
  <tr>
    <td>Post</td>
    <td>Author</td>
    <td>Date</td>
    <td>Other Flags</td>
  </tr>
</thead>
<tbody>
{% for postx in feed.postsxref %}
    <tr>
        <td>{{ postx.post.content|truncate(40,True) }}</td>
        <td>{{ linkmacros.user(postx.post.author) }}</td>
        <td><form method="POST" action="" >
            <input type="hidden" name="action" value="delete" />
            <input type="submit" value="X"></form></td>
    </tr>
{% endfor %}
</tbody>
</table>
<form method="POST">
<input type="hidden" name="action" value="edit" />
<div class="autowidth">
<h2>Permissions for this feed.</h2>
<div class="free_blocks">
    <h3>Author Users:</h3>
    {{ widgets.userselect("authors", allusers, feed.authors()) }}
</div>
<div class="free_blocks">
    <h3>Publisher Users:</h3>
    {{ widgets.userselect("publishers", allusers, feed.publishers()) }}
</div>

<div class="free_blocks">
    <h3>Author Groups:</h3>
    {{ widgets.groupselect("author_groups", allgroups, feed.author_groups()) }}
</div>
<div class="free_blocks">
    <h3>Publisher Groups:</h3>
    {{ widgets.groupselect("publisher_groups", allgroups, feed.publisher_groups()) }}
</div>
<input type="submit" value="Save">
</form>

<div class="cf"></div>
</div>
{% endblock %}
{% block end_of_page_javascript %}
{{ super() }}
{{ linkmacros.static_js('lib/chosen/chosen.jquery.min.js') }}
<script type="text/javascript">
    $('select').chosen({'width':'100%'});
</script>
{% endblock %}
