{% extends "index.html" %}
{% block title %} Feed: {{ feed.name }} {% endblock %}

{% block body %}
<h1>Feed: {{ feed.name }} </h1>
<h2>Posts:</h2>
<table>
<thead>
  <tr>
    <td>Post</td>
    <td>Author</td>
    <td>Date</td>
    <td>Other Flags</td>
  </tr>
</thead>
<tbody>
{% for postx in feed.postsxref %}
    <tr>
        <td>{{ postx.post.content|truncate(40,True) }}</td>
        <td>{{ linkmacros.user(postx.post.author) }}</td>
        <td><form method="POST" action="" >
            <input type="hidden" name="action" value="delete" />
            <input type="submit" value="X"></form></td>
    </tr>
{% endfor %}
</tbody>
</table>
<div class="autowidth">
<h2>Permissions for this feed.</h2>
<div class="free_blocks">
    <h3>Writers:</h3>
    <select multiple name="authors">
    {% for user in allusers %}
        <option {{ 'selected' if feed.user_can_write(user) }} value="{{user.id}}" class="{{'admin' if user.is_admin }}">{{ '*' if user.is_admin }}{{user.displayname}}</option>
    {% endfor %}
    </select>
</div>
<div class="free_blocks">
    <h3>Publishers:</h3>
    <select multiple name="publishers">
    {% for user in allusers %}
        <option {{ 'selected' if not feed.user_can_publish(user) }} value="{{user.id}}" class="{{'admin' if user.is_admin }}">{{ '*' if user.is_admin }}{{user.displayname}}</option>
    {% endfor %}
    </select>
</div>
<div class="cf"></div>
</div>
{% endblock %}
