{% extends "index.html" %}
{% block title %} User Group list {% endblock %}

{% block body %}
<table>
<thead>
<tr>
<td>Group Name</td>
<td>Other Flags</td>
<td>Members</td>
</tr>
</thead>
<tbody>
{% for group in groups %}
    <tr>
        <td>{{ group.name }}</td>
        <td>{% if not group.display %} HIDDEN {% endif %} </td>
    </tr>
{% endfor %}
</tbody>
</table>
{% if session.display_admin_stuff %}
<div>
    <form action="{{ url_for('groups') }}" method="POST">
    <h2> New Group </h2>
    <label>Name:<input name="name" placeholder="new group name..."/></label>
    <input type="submit" value="Create!" />
    </form>
</div>
{% endif %}

{% endblock %}
