{%- import "link-macros.html" as linkmacros -%}
{%- import "common_widgets.html" as widgets -%}
<!doctype html>
<html>
  <head>
    <title>{% block title %}TODO: TITLE{% endblock %}</title>
    {% block htmlhead %}
      <link rel="stylesheet" href="{{ url_for('static',
                                    filename='lib/chosen/chosen.min.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static',
                                    filename='style.css') }}" />
    {% endblock %}
  </head>
<body>
<header>
  <h1>{{ g.site_vars.site_title }}:{{ display_title }}</h1>
  <nav>
    {% block nav %}
    <ul>
        {% macro navitem(view, text) -%}
            <li><a href="{{ url_for(view) }}">{{text}}</a></li>
        {%- endmacro %}
        {% if session.display_admin_stuff %}
            {{ navitem('userlist',  'User list') }}
            {{ navitem('grouplist', 'Group list') }}
        {% endif %}
        {{ navitem('feedlist',  'Feed list') }}
        {{ navitem('postlist',  'Post list') }}
    </ul>
    {% endblock %}
  </nav>
</header>
<article>
{% block body %}{% endblock %}
</article>
<ul id="flashed_notices">
{% for msg in get_flashed_messages() %}
  <li class="{{'err' if 'ERR' in msg }}">{{ msg }}</li>
{% endfor %}
</ul>
<footer>
<div class="footerbox">
{% if session.logged_in %}
    Logged in as {{ session.username }}.
    <form action="{{ url_for('logout') }}" method="POST">
        <input type="hidden" name="from" value="{{ request.endpoint }}" />
        <input type="submit" value="Log out">
    </form>
{% else %}
    <h2>Log in</h2>
    <form action="{{ url_for('login') }}" method="POST">
        <input name="username" placeholder="Your user name..." /><br />
        <input name="password" type="password" placeholder="password" /><br />
        <input type="hidden" name="from" value="{{ request.endpoint }}" />
        <input type="submit" value="Log in" />
    </form>
{% endif %}
</div>
</footer>
{% block end_of_page_javascript %}
  <!-- jquery, ga, whatever goes here. -->
  {{ linkmacros.static_js('jquery.js') }}
  {{ linkmacros.static_js('lib/chosen/chosen.jquery.min.js') }}
  {{ linkmacros.static_js('main.js') }}
{% endblock %}
</body>
</html>
