{% extends "index.html" %}
{% block title %} Post List {% endblock %}

{% block body %}
<h2>Posts:</h2>
<div style="text-align:center;margin:auto;">
    <a class="newbutton" href="{{ url_for('post_new') }}">New</a>
</div>
<table>
<thead>
<tr>
<td>Type</td>
<td>Content</td>
<td>Author</td>
<td>Feeds</td>
<td>Other Flags</td>
</tr>
</thead>
<tbody>
{% for post in posts %}
    <tr>
    <td>{{ post.type }}</td>
    <td>{{ linkmacros.post(post) }}</td>
    <td>{% if post.author %}
            {{linkmacros.user(post.author)}} (on {{ post.write_date.date() }})
        {% else %}
            No Author!
        {% endif %}
    </td>
    <td>{% if post.feed %}
           {{ linkmacros.feed(post.feed) }}&nbsp;
        {% else %}
            Not Published!
        {% endif %}
    </td>
    <td>{% if post.active %}Active{% endif %}</td>
    </tr>
{% endfor %}
</tbody>
</table>


{% endblock %}
