{% extends "index.html" %}
{% block title %} Post List {% endblock %}

{% block body %}
<table>
<thead>
<tr>
<td>Type</td>
<td>Content</td>
<td>Author</td>
<td>Feeds</td>
<td>Other Flags</td>
</tr>
</thead>
<tbody>
{% for post in posts %}
    <tr>
    <td>{{ post.type.name }}</td>
    <td>{{ linkmacros.post(post) }}</td>
    <td>{% if post.author %}
            {{linkmacros.user(post.author)}} (on {{ post.write_date.date() }})
        {% else %}
            No Author!
        {% endif %}
    </td>
    <td>{% if post.feedsxref.exists() %}
            {%- for feedx in post.feedsxref -%}
                   {{ linkmacros.feed(feedx.feed) }}&nbsp;
            {%- endfor -%}
        {% else %}
            Not Published!
        {% endif %}
    </td>
    <td>{% if post.active %}Active{% endif %}</td>
    </tr>
{% endfor %}
</tbody>
</table>
<a href="{{ url_for('post_new') }}">New Post</a>

{% endblock %}
