<div id="postcontentblock">
<input type="hidden" name="post_type" value="{{ post_type }}" />
{{ form_content|safe }}
</div>

{% if not feedlist %}
    You do NOT have permission to write to any feeds! Sorry!
{% else %}
    <label>Feed to post to: 
    <select name="post_feed" class="chosen" autocomplete="off"
            data-placeholder="Please select which feed this post should appear on">
    {% for feed in feedlist %}
    <option value="{{ feed.id }}" {{ 'selected' if feed.id == current_feed }}>{{ feed.name }}</option>
    {% endfor %}
    </select></label>
    <hr/>
{% endif %}

<h2>Post Lifetime:</h2>
<label>Start:<input type="datetime-local" name="active_start" /></label>
<label>End:<input type="datetime-local" name="active_end" /></label><br/>

<h3>Time restrictions:</h3>
<label>Do NOT show during the following times:
            <input type="radio" name="times_mode" value="do_not_show" /></label><br/>
<label>Only show during the following times:
            <input type="radio" name="times_mode" value="only_show" /></label><br/>

<a class="newbutton" href="#" data-bind="click: $root.addTime">New</a>

<ul data-bind="foreach: times">
    <li><input class="third" type="time" data-bind="value: start" />
        <input class="third" type="time" data-bind="value: end" />
        <input class="third" data-bind="value: note" />
        <a href="#" data-bind="click: $root.removeTime">X</a>
    </li>
</ul>


{% if feedlist %}
    <input type="submit" value="Post!" />
{% else %}
    Sorry! You do NOT have permission to post on any feeds!
{% endif %}
