{% extends "index.html" %}
{% block title %} Edit Post: {{ post.id }} {% endblock %}

{% block htmlhead %}
{{ super() }}
{{ linkmacros.static_css('lib/jquery.timePicker/timePicker.css') }}
{{ linkmacros.static_css('lib/jquery.anytime/anytime.css') }}
{{ linkmacros.static_css('/lib/colorpicker/bgrins-spectrum-2c2010c/spectrum.js') }}
{% endblock %}

{% block body %}
  <h1> Edit Post </h1>
 
 <form action="{{ form_action }}" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="action" value="update" />
  {% include "post_editor_form.html" %}
</form>
{% endblock %}

{% block end_of_page_javascript %}
{{ super() }}
{{ linkmacros.static_js('lib/jquery.timePicker/timePicker.js') }}
{{ linkmacros.static_js('lib/jquery-migrate-1.0.0.js') }}
{{ linkmacros.static_js('lib/jquery.anytime/anytime.js') }}
{{ linkmacros.static_js('lib/colorpicker/bgrins-spectrum-2c2010c/spectrum.js') }}
{{ linkmacros.static_js('post_times_editor.js') }}
<script type="text/javascript">
var viewTimesModel = new TimesModel({{ post.time_restrictions |safe }} );

ko.applyBindings(viewTimesModel);
</script>
{% endblock %}
