{% extends "index.html" %}
{% block title %} Screens {% endblock %}

{% block body %}
<table>
<thead>
  <tr>
    <td>View URL</td>
    <td>Feed ID</td>
    <td>{% if session.display_admin_stuff %}<a href="{{ url_for('screenedit', screenid=-1) }}" class="newbutton">New</a>{% endif %}</td>
  </tr>
</thead>
<tbody>
{% for s in screens %}
    <tr>
        <td><a href="{{url_for('screendisplay', template='basic', screenname=s.urlname)}}">{{url_for('screendisplay', template='basic', screenname=s.urlname)}}</a>
        <td><a href="{{url_for('screendisplay', template='basic', screenname=s.urlname)}}">View</a>{% if session.display_admin_stuff %} - <a href="{{url_for('screenedit', screenid=s.id)}}">Edit</a>{% endif %}</td>
        <td>{% if session.display_admin_stuff %}<form method="POST" action="{{ url_for('screenedit', screenid=s.id) }}">
            <input type="hidden" name="action" value="delete" />
            <input type="submit" value="X" class="delbutton confirm_delete"></form>{% endif %}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
