{% extends "index.html" %}

{% block htmlhead %}
    {{ super() }}
{% endblock %}
{% block title %}Edit Screen:{{ screen.id }}{% endblock %}
{% block body %}

<form id="screen_form" method="post">
 <input type="submit" id="save_btn" value="Save" style="float: left;"/>
  <div class="leftside">
    <h2>Screen ID:{{ screen.id }}</h2>
        <label>Name<input type="text" name="urlname" value="{{ screen.urlname }}" /></label>
        <label style="display:block; width: 40%;">Background:
            <select  name="background" id="background" autocomplete="off" class="chosen">
              {% for bg in backgrounds %}
                <option {{ 'selected' if bg == screen.background }} value="{{bg}}">{{bg}}</option>
              {% endfor %}
            </select>
        </label><!--
      <label>Default Text color:
      <input name="color" data-bind="value: color" type="color"></br>-->
      Other Settings:<br/>
      <textarea name="settings" data-bind="value: other_settings" style="width: 100%"></textarea>
      CSS:<br/>
      <textarea name="css" data-bind="value: css" style="width: 100%"></textarea>
      <!-- where the actual saved data happens -->
      <input type="hidden" name="zones" data-bind="value: ko.mapping.toJSON(zones)"/>

  </div>
<div class="cf"></div>
<hr/>

</form>
<div class="rightside fake_screen_container">

    <div id="my_fake_screen" class="fake_screen">
    <!-- ko foreach: zones -->
    <div class="fake_zone" data-bind="style: { top: top, left: left, right: right, bottom: bottom, color: color}, text: name"></div>
    <!-- /ko -->
    </div>
    Aspect Ratio:<select id="aspect">
    <option value=1.6>4:3</option>
    <option selected value=1.77777>16:9</option>
    <option value="0.5625">9:16</option>
    </select>
    <!--<textarea style="float: right;clear:right; width: 100%; height: 100px" data-bind="value: ko.mapping.toJSON($root, null, 2)"></textarea>-->

</div>

<div id="zones_container">
    <h3>Zones:<button data-bind="click: addZone">New Zone</button></h3>
<ul data-bind="foreach: zones" class="itemlist">
  <li>
    <label>Name:<input name="urlname" data-bind="value: name" /></label><br/>
    <label>Size:</label>
    <div class="sizes_box">
        <input data-bind="value: top" /><br/>
        <input data-bind="value: left" />-<input data-bind="value:right" /><br/>
        <input data-bind="value: bottom" /><br/>
    </div>
    <label>Feeds:
        <select multiple autocomplete="off"
                data-bind="options: AVAILABLE_FEEDS, optionsText:'name',
                           optionsValue: 'id', selectedOptions: feeds" >
        </select>
    </label>
  <div>
  <label>Default Text Color:<input type="color" data-bind="value: color" /><br/>
  <label>CSS:
      <textarea data-bind="value: css" ></textarea></label>
  </div>
  </li>
</ul>
<br/>

</div>
<div class="cf"></div>


{% endblock %}

{% block end_of_page_javascript %}
{{ super() }}
{{ linkmacros.static_js('lib/knockout.mapping-latest.js') }}
{{ linkmacros.static_js('model_zones.js') }}
<script type="text/javascript">
BG="{{ screen.background }}";
CSS=JSON.stringify({{ screen.css|safe if screen.css else '{}' }});
SETTINGS=JSON.stringify({{ screen.settings|safe if screen.settings else '{}' }});
ZONES={{ screen.zones|safe if screen.zones else '[]' }};
AVAILABLE_FEEDS = [
    {%- for feed in feeds -%}
        {id: "{{ feed.id }}", name: "{{ feed.name}}"} {{- ',' if not loop.last -}}
    {%- endfor -%} ];



var viewScreenModel = new ScreenModel(BG, SETTINGS, CSS, ZONES);
//ko.mapping.fromJS(ZONES, [], viewZonesModel.zones);
//ko.mapping.fromJS(AVAILABLE_FEEDS, [], viewZonesModel.availableFeeds);
ko.applyBindings(viewScreenModel);



$('#background').change(function(){
    var newbg="url(/static/user_files/" + $('#background').val() + ')';
    $('#my_fake_screen').css('background-image', newbg );
}).change();

$('#aspect').change( function(e) {
    $('#my_fake_screen').height($('#my_fake_screen').width() / $(this).val());

    while ($('#my_fake_screen').height() > $(window).height()) {
        $('#my_fake_screen').width($('#my_fake_screen').width() - 10);
        $('#my_fake_screen').height($('#my_fake_screen').width() / $(this).val());
    }
});

</script>

{% endblock %}
