/**********************************************************************/
page, body {
    height: 100%;
}
body {
    padding-top: 70px;
    height: 100%;
}

#flashed_notices {
    position: absolute;
    top: 50px;
    right: 0;
    padding: 1em;
}
#flashed_notices > li {
    background: rgba(2,2,2,0.6);
    color: white;
    font-weight: bold;
    border-radius: 15px;
    padding: 0.2em 1em 0.2em 1em;
    list-style-type: none;
}
#flashed_notices > li:hover {
    color: #aaa;
}
#flashed_notices > li .err {
    background: rgba(8,2,2,0.7);
}

option.admin {
    font-weight: bold;
    color: #224;
}
option:checked {
    background: #222;
}

div.footerbox {
    width: 25%;
    border: 1px solid #123;
    padding: 1em;
}


footer {
    text-align: center;
    color: #666;
    border-radius: 100px;
    background: #eee;
    padding: 1em;
    margin-top: 200px;
    font-weight: thin;
    width: 80%;
    margin: 200px auto 20px auto;
    display: block;
}
footer a {
   color: #444;
   font-weight: bold;
}

div.free_blocks {
    display: block;
    padding: 1em;
    float: left;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 0.3em;
}
.cf {
    clear:both;
    }

div.sizes_box {
    display: block;
    text-align: center;
    max-width: 10em;
    padding: 0.3em;
}
.sizes_box input {
    max-width: 3em;
}
.fake_screen_container {
     position: fixed;
     bottom: 0px;
     right: 0px;
     background: #eee;
     padding: 0.2em;
     border: 2px solid #eee;
     z-index: 20;
}
.fake_screen {
    display: block;
    position: relative;
    background-color: black;
    width: 400px;
    height: 275px;
    background-size: cover;
    margin: auto;
}
.fake_zone {
    display: block;
    position: absolute;
    border: 1px dashed white;
    color: white;
    text-align: center;
}
.fake_zone.selected {
    border: 2px solid white;
    background: rgba(100,100,100,0.5);
}
input.half { max-width: 50%; }
input.third { max-width: 28%;}

/***************************************/

.published {
    font-width: bold;
}
.unpublished {
    font-width: normal;
    font-style: italic;
    opacity: 0.6;
}

.published .onlyunpublished {
    display: none;
}
.unpublished .onlypublished {
    display: none;
}

.time_future, .time_future a {
    color: #349;
}

.time_now {
    background-color: #bcd;

}

tr.time_now:nth-child(odd) {
    background-color: #abc;
}

.time_past, .time_past a  {
    color: #914;
    font-style: italic;
}

.delbutton {
    background: red;
    background: linear-gradient(#e22,#c00);
    color: #faa;
    font-weight: 800;
    border-radius: 5px;
    border: 1px solid #b50d0d;
    text-shadow: -1px -1px 0px #b50d0d, 1px 1px 0px #e22;
    /*box-shadow: inset 1px 1px 5px rgba(255,255,255,0.8);*/

}
.delbutton:hover {
    background: linear-gradient(#d22, #522);
}

ul.optionrow {
    display: inline;
    margin: auto;
    text-align: center;
    list-style: none;
}
ul.optionrow > li {
    border: 1px solid #999;
    display: inline;
    background: #ddd;
    background: linear-gradient( #fff,#ddd);
    box-shadow: inset 2px 2px 2px #fff, inset -2px -2px -2px #777;
    padding: 0.5em;
    margin: 0px;
    list-style: none;
}
ul.optionrow > li:hover {
    background: #aaa;
}

ul.optionrow > li:first-of-type {
    border-radius: 10px 0 0 10px;
}
ul.optionrow > li:last-of-type {
    border-radius: 0 10px 10px 0;
}

.chzn-container input {
    min-height: 2em;
}
h1, h2, h3 {
    display: inline; /* allows buttons next to titles... */
}
